<div class="footer-nav">
    <nav>
      <a href="/">Home</a>
      <a href="/members">Members</a>
      <a href="mailto:midwaymaster10@gmail.com">Email Members Only Dev</a>
    </nav>
    <p>&copy; 2024 Members Only. All rights reserved. Built by John Walter</p>
</div>