<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="https://www.flaticon.com/free-icons/smart-key" />
    <script src="/js/header.js" defer></script>
    <title>Admin</title>
</head>

<body>

    <header>
        <%- include("partials/header") %>
    </header>

    <main>

        <section class="membership-house">

            <form action="/admin" method="post" class="membership-form">

                <div class="inspiration">
                    <h1> Become a clubhouse admin <%= currentUser.first_name || '' %></h1>

                    <p>Become a clubhouse admin to edit or delete messages.</p>
                </div>

                <div class="club-role">

                    <p>To become an admin, please type:<strong>I want to become an admin</strong></p>

                    <label for="admin">Admin Phrase</label>

                    <input type="text" id="admin" name="admin_phrase" 
                        placeholder="Type the admin phrase" autocomplete="off" required />
                    <small><%= error %></small>
                </div>

                <button type="submit">Submit</button>
            </form>
        </section>

    </main>

    <footer>
        <%- include("partials/footer") %>
    </footer>

</body>
</html>